.card {
    display: inline-block;
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1em;
    user-select: none;
   }
.activeCard {
    color: red;
    background: pink;
   }

   .box {
    width: 250px;
    height: 100px;
    background-color: brown;
   }

   .head{
    width: 250px;
    height: 50px;
    background-color:bisque
   }

   .para{
    width: 900px;
    height: 100px;
    background-color:blueviolet
   }